.dashboard-nav {
  padding: 10px 0;
  border-bottom: 1px solid #bebebe;
}

#upload-file {
  background: #6c757d;
  border: 1px solid #444444;
  padding: 6px 20px;
  border-radius: 0;
  margin: 10px 0;
  letter-spacing: 2px;
}
