/*header*/
nav{
  background: #ccc;
}


/*Footer*/
footer{
  background: #ccc;
  text-align: center;
  padding: 10px 0;
}

small {
  margin: 20px 110px;
  justify-content: space-between;
}

/*
footer {
  background-color: gray;
  height: 20px;
}
footer .footer-1 {
  margin-right: 250px;
} */
