.container{
  font-size: 1.1em;
}

.welcome-page{
  width: 80%;
}

.welcome-img {
  width: 800px;
}

.main-heading{
  font-size: 3.4em;
  letter-spacing: 3px;
  font-weight: 600;
}

.sub-heading{
  color: rgb(90, 90, 90);
}

.sign{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 10%; */
}

.sign-up, .sign-in{
  border: 1px solid #444444;
  padding: 6px 20px;
  margin: 0 70px;
  border-radius: 0;
  letter-spacing: 2px;
}