*, body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* min height to control overflow */
.main{
  min-height: 100vh;
}

.sign{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.invalid-field {
  padding-left: 20px;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.sub-btn {
  border: 1px solid #444444;
  padding: 6px 20px;
  border-radius: 0;
  margin: 10px 0;
  letter-spacing: 2px;
}
